/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
/* Fonts */

.carousel-item img {
    filter: brightness(60%);

}
.nav-item a {
    font-family: 'Roboto', sans-serif;
   
}
.carousel-item p {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
.carousel-item .w-100  {
       
        min-height: 310px;
    }
